.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 180px;
  padding: 20px;
  margin: 18px;
  border-radius: 5px;
  background-color: grey;
}

.content {
  display: flex;
  gap: 16px;
  align-items: center;
}
